.container {
  height: 1400px;
  background-color: #d2c6c6;
  border: 5px solid red;
}
.nav {
  background-color: #dddddd;
  font: bold;
  text-align: center;
  padding: 2%;
  border: 5px solid white;
}
.header {
  background-color: #dddddd;
  font: bold;
  text-align: center;
  padding: 2%;
  border: 5px solid white;
}
.content {
  display: flex;
}
.card1 {
  height: 200px;
  background-color: gray;
  margin: 0 10px 0 10px;
  flex: 1;
}
/* ----2nd part ------ */

.sub-con-left {
  width: 50%;
}
.card5 {
  text-align: center;
  background-color: gray;
  padding: 120px;
  margin-right: 20px;
}
.sub-con-right {
  width: 50%;

  text-align: center;
  display: flex;
  flex-direction: column;
}
.card-right1 {
  background-color: gray;
  margin-bottom: 10px;
  padding: 30px;
}
.card-right2 {
  background-color: gray;
  margin-bottom: 10px;
  padding: 30px;
}

.card-right3 {
  background-color: gray;
  padding: 30px;
}
